/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	width: 90%;
	margin: 100px;
  }

  .page-container {
      width: 90%;
      margin: 100px auto;
  }
  
.Navigation {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 2%;
}
.Navigation nav {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 2%;
}
.anchor-tab {
    margin-top:1%;
    width: 80%;
    display: inline-block;
}
.anchor-tab a {
    color: #D7E1ED; 
    font-size: 110%;
    margin: 5%;
    text-decoration: none;
    width: 100%;
}

  .logo {
      margin-top: 1%;
      width: 20%;
      display: inline-block;
  }
  
  .HeaderContainer .Header {
	display: flex; 
	width 100%; 
	text-align: center; 
	padding: 30px 0px 40px;
	margin: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  
  .Header .HeaderTitle h1 {
	font-size: 80px;
	padding: 50px 70px 0px;
	width: 100%; 
  }
  
  .Header .HeaderTitle button {
	padding: 5px 30px 5px;
	border: 1px solid black; 
	font-family: "Titillium Web";
	vertical-align: text-bottom;
	background-color: none;
  }
  
  .HeaderImage {
	/*display: inline-block;*/ /* Left for my own notes*/
	padding: 20px;
	width: 40%;
  }
  
  .TopContent {
	border-top: 1px dashed black;
	padding: 40px 0px 40px;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;  
  }
  
  .TopContent .Features {
	/*display: inline-block;*/
	padding: 20px 10px 20px;
	width:48%;
  }
  
  .TopContent .About{
	/*display: inline-block; */
	padding: 20px 10px 20px; 
	width: 48%; 
  }

  .MiddleImage {
	  width: 100%;
	  padding: 20px 0px 20px; 
	  display: flex; 
	  flex-flow: row wrap;
	  justify-content: space-evenly; 
  }

  .ImageItself {
	  flex-basis: auto; 
  }
  
  .BottomContent {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 40px 0px 40px;
	margin-bottom: 10px; 
  }
  
  .BottomContent .Services {
	/*display: inline-block;*/
	padding: 20px 5px 20px;
	width: 31%;
  }
  
  .BottomContent .Product {
	/*display: inline-block;*/
	padding: 20px 5px 20px; 
	width: 31%;
  }
  
  .BottomContent .Vision {
	/*display: inline-block;*/
	padding: 20px 5px 20px;
	width: 31%;
  }
  
  .FooterContent {
	border-top: 1px dashed black;
  }
  
  .FooterContent .Contact {
	margin-top: 20px;
	margin-bottom: 15px;
	}
  .FooterContent .Copyright {
	text-align: center;
  }

  .services-header-img {
	  margin: 20px; 
  }
  
  .ServicesContent {
	  margin: 30px 0px 30px;
  }

  .ServicesDescription h1 {
	  font-size: 30px; 
  }

  .TopServicesOptions {
	  border-top: 2px solid black;
	  display: flex; 
	  flex-flow: row wrap;
	  justify-content: space-evenly; 
  }

  .DigitalDesign {
	  border: 1px solid black;
	  margin-top: 30px;
	  margin-right: 15px; 
	  padding: 15px; 
	  width: 48%;
	  display: inline-block;
	  background: #ddd8d7;
  }

  .DigitalDesign button , .UX-UI button {
	  border: 1px solid black; 
	  border-radius: 5px; 
	  padding: 5px 25px 5px; 
	  margin-top: 20px; 
  }

  .UX-UI {
	  border: 1px solid black;
	  margin-top: 30px;
	  margin-left: 15px;
	  padding: 15px; 
	  width: 48%;
	  display: inline-block;
	  background: #ddd8d7;
  }

  .MiddleServicesOptions {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-evenly; 
  }

  .DigitalMarketing {
	border: 1px solid black;
	margin-top: 30px;
	margin-right: 15px; 
	padding: 15px; 
	width: 48%;
	display: inline-block;
	background: #ddd8d7;
}

.WebDevelopment {
	border: 1px solid black;
	margin-top: 30px;
	margin-left: 15px; 
	padding: 15px; 
	width: 48%;
	display: inline-block;
	background: #ddd8d7;
}

.DigitalMarketing button, .WebDevelopment button {
	border: 1px solid black; 
	border-radius: 5px; 
	padding: 5px 25px 5px; 
	margin-top: 20px;
}

.ButtomServicesOptions {
	display: flex;
	flex-flow: row wrap; 
	justify-content: space-evenly; 
	border-bottom: 2px solid black;  
	margin-bottom: 20px; 
}

.iOS-Development {
	border: 1px solid black;
	margin-top: 30px;
	margin-right: 15px; 
	margin-bottom: 30px;
	padding: 15px; 
	width: 48%;
	display: inline-block;
	background: #ddd8d7;
}

.AndroidDevelopment {
	border: 1px solid black;
	margin-top: 30px;
	margin-left: 15px; 
	margin-bottom: 30px; 
	padding: 15px; 
	width: 48%;
	display: inline-block;
	background: #ddd8d7;
}

.iOS-Development button , .AndroidDevelopment button {
	border: 1px solid black; 
	border-radius: 5px; 
	padding: 5px 25px 5px; 
	margin-top: 20px;
}

.ServicesFacts {
	display: flex;
	flex-flow: row wrap; 
	justify-content: space-between; 
}

.Facts {
	margin: 3% 0% 3%; 
	padding: 15px; 
	width: 40%;
	display: inline-block;
}

.ImageFacts {
	padding: 20px 5px 20px;
	margin-right: 10%;
	display: inline-block;
}

.Facts ul {
	margin: 3%; 
}

.Legal {
	text-align: center;
	margin-top: 2%; 
}

@media (max-width: 800px){
    .page-container {
        margin: 0%;
    }

    .Navigation nav {
        display: flex;
        flex-flow: wrap column; 
        justify-content: space-evenly;
    }

    .logo {
        order: 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6%;
    }

    .anchor-tab {
        order: 3;
        width: 100%;
    }

    .anchor-tab a {
        font-size: 110%;
        margin: 3%;
    }

    .HeaderImage {
        display: none;
    }

}

@media (max-width: 500px){
    .logo {
        padding: 1% 0 1%;
        width: 100%;
        margin: 3% auto 3%;
        text-align: center;
    }

    .anchor-tab {
        border-top: 2px solid grey;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .anchor-tab a {
        border-bottom: 2px solid grey;
        margin: 5% auto 2%;
        padding-bottom: 3%;
    }

    .TopContent {
        display: flex;
        flex-flow: wrap column;
        justify-content: space-evenly;

    }

    .TopContent .Features {
        width: 100%;
    }

    .TopContent .About {
        width: 100%;
    }

    .BottomContent {
        display: flex;
        flex-flow: wrap column;
        justify-content: space-evenly;
    }

    .BottomContent .Services {
        width: 100%;
    }

    .BottomContent .Product {
        width: 100%;
    }

    .BottomContent .Vision {
        width: 100%;
    }

}